body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.badge{
    width: 18px;
    height: auto;
}

.broadcaster{
    background-color: red;
}

.viewer{
    background-color: aqua;
}

.moderator{
    background-color: green;
}